<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.cgh.user.dao.UserDao">
	<select id="findListByQuery" parameterType="User" resultMap="resultMap">
		select
			su.id,
			su.name,
			su.cellphone,
			su.password,
			su.role roleId,
			sr.name roleName,
			sr.code roleCode,
			su.department deptId,
			sd.name deptName,
			sd.code deptCode,
			su.idCard,
			su.email,
			su.avatar,
			su.status,
			su.createUser,
			su.createTime,
			su.updateUser,
			su.updateTime
		from
			sys_user su join sys_role sr on su.role=sr.id
			left join sys_department sd on su.department=sd.id
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">su.id=#{id} and </if>
				<if test="name != null">su.name like concat('%',#{id},'%') and </if>
				<if test="cellphone != null">su.cellphone=#{cellphone} and </if>
				<if test="idCard != null">su.idCard=#{idCard} and </if>
				<if test="email != null">su.email=#{email} and </if>
				<if test="status != null">su.status=#{status} and </if>
			</trim>
		</where>
		order by su.createTime asc 
	</select>
	
	<resultMap id="resultMap" type="User">
		<id property="id" javaType="java.lang.String" column="id"/>
		<result property="name" javaType="java.lang.String" column="name"/>
		<result property="cellphone" javaType="java.lang.String" column="cellphone"/>
		<result property="password" javaType="java.lang.String" column="password"/>
		<result property="idCard" javaType="java.lang.String" column="idCard"/>
		<result property="email" javaType="java.lang.String" column="email"/>
		<result property="avatar" javaType="java.lang.String" column="avatar"/>
		<result property="status" javaType="java.lang.Integer" column="status"/>
		<result property="createUser" javaType="java.lang.String" column="createUser"/>
		<result property="createTime" javaType="java.util.Date" column="createTime"/>
		<result property="updateUser" javaType="java.lang.String" column="updateUser"/>
		<result property="updateTime" javaType="java.util.Date" column="updateTime"/>
		<association property="role" javaType="Role">
			<id property="id" javaType="java.lang.String" column="roleId"/>
			<result property="name" javaType="java.lang.String" column="roleName"/>
			<result property="code" javaType="java.lang.String" column="roleCode"/>
		</association>
		<association property="department" javaType="Department">
			<id property="id" javaType="java.lang.String" column="deptId"/>
			<result property="name" javaType="java.lang.String" column="deptName"/>
			<result property="code" javaType="java.lang.String" column="deptCode"/>
		</association>
	</resultMap>
</mapper>